@import 'fonts/material-icons', 'fonts/roboto-family', 'fonts/proximanova-family';

h1, h2, h3 {
  font-family: 'proximanova-light', Arial, sans-serif;
}

h4, h5, h6 {
  font-family: 'proximanova-regular', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  &.bold {
    font-family: 'proximanova-bold';
  }
  &.thin {
    font-family: 'proximanova-thin';
  }
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}
