#popupAppHTML {
  width: 400px;
  min-height: 600px;
}

.popupApp {
  .dashboard {
    background: #FFFFFF;
  }
  .network-card {
    width: 60%;
    min-height: 100px;
    margin: 20px auto;
    text-align: center;

    h3 {
      margin-top: 0;
    }
  }
}
