#popupAppHTML {
  width: 325px;
  min-height: 520px;
}

.popupApp {
  .popupHeader {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0;
    position: relative;
    text-align: center;
    background: #FFFFFF;
    .logo {
      height: 40px;
    }
  }
  .errorLoading {
    text-align: center;
    padding: 30px 0;
  }
  .mainView {
    height: 345px;
    overflow-y: scroll;
    .tabContent {
      height: 297px;
      overflow-y: scroll;
    }
  }
  .trackerCount {
    background: #FFFFFF;
    border-radius: 50%;
    border: 15px solid #f7f7f9;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    box-shadow: 0 0 250px rgba(169, 172, 189, .5);
    text-align: center;
    .content {
      height: 80px;
      line-height: 80px;
      font-family: 'Roboto Bold';
      font-size: 75px;
      margin-top: 20px;
    }
    .heading {
      height: 30px;
      line-height: 30px;
      h4 {
        margin: 0;
        color: #a9acbd;
      }
    }
  }
  .networkCallGroup, .trackerGroup {
    list-style-type: none;
    margin-top: 0;
    li {
      color: $mh-blue;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .helpList {
    list-style: none;
    padding-left: 10px;
    li {
      padding: 10px 0;
      a {
        color: #222;
        font-size: 16px;
      }
    }
  }
  .subData {
    text-align: center;
    h5 {
      color: #ffb50b;
      margin-bottom: 10px;
    }
    .data {
      font-family: 'Roboto Thin';
      font-size: 42px;
    }
  }
  .bottomNavigation {

  }
}
