$page-width: 1000px;
$mh-blue: #183063;
$mh-yellow: #ffc72a;

#fullReportPage {
  background: #F5F5F6;
}
.fullReportContainer {
  .fullReportHeader {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgb(217, 217, 217);
    background: #FFFFFF;
    .logo {
      height: 40px;
    }
  }
}

.errorLoading {
  text-align: center;
  padding-top: 100px;
}

.reportApp {
  .heroContainer {
    background: $mh-blue;
    padding: 30px 0;
    color: #FFFFFF;
  }
  .hero {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    .reportTitle {
      font-family: 'Roboto Bold';
      font-size: 20px;
      border-top: 1px solid #FFFFFF;
      display: inline-block;
      border-bottom: 1px solid #FFFFFF;
      padding: 3px 30px;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      letter-spacing: 2px;
    }

    .reportUrl {
      font-size: 26px;
      font-family: 'Roboto Thin';
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .dashboard {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0 0 20px 0;

    // Tab bar background
    > div:first-child {
      background-color: #FFFFFF !important;
    }

    // Sliding color bar under tabs
    > div:nth-child(2) {
      div {
        background-color: $mh-yellow !important;
      }
    }
  }
  .reportTab {
    color: rgba(0, 0, 0, 1) !important;
  }

  .yellowMhButton {
    color: $mh-blue;
    :hover {
      color: $mh-yellow;
    }
  }

  .tabHeader {
    padding: 10px 0;
    &:after {
      content: "";
      clear: both;
      display: table;
    }

    .tabTitle {
      font-family: 'Roboto Thin', Arial, sans-serif;
      font-size: 30px;
    }
  }

  .layers-list {
    list-style-type: none;
    padding: 10px;
    li {
      padding: 10px 0;
    }
    .layer-label {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
    }
  }

  .trackerTitle {
    font-family: 'Roboto Bold'; 
  }

  .trackerCallDetails {
    padding-left: 40px;

    .trackerMeta {
      text-align: center;
      padding-bottom: 20px;

      .trackerMetaItem {
        border-right: 1px solid rgba(0, 0, 0, .06);
      }

      .trackerMetaItem:last-child {
        border-right: none;
      }
      
      .trackerMetaTitle {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .trackerQuery {
      border-top: 1px solid rgba(0, 0, 0, .06);
    }
  }
}
