#fullReportPage {
  background: #F5F5F6;
}
.fullReportContainer {
  .fullReportHeader {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgb(217, 217, 217);
    background: #FFFFFF;
    .logo {
      height: 40px;
    }
  }
  .dashboard {
    background: #E1E2E1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.reportApp {
  .reportTitle {
    padding: 24px 10px;
    h4, h6 {
      margin: 0;
    }

    h6 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .tabTitle {
    font-family: 'Roboto Thin', Arial, sans-serif;
    font-size: 30px;
  }

  .layers-list {
    list-style-type: none;
    padding: 10px;
    li {
      padding: 10px 0;
    }
    .layer-label {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
    }
  }

  .trackerTitle {
    font-family: 'Roboto Bold'; 
  }

  .trackerCallDetails {
    padding-left: 40px;

    .trackerMeta {
      text-align: center;
      padding-bottom: 20px;

      .trackerMetaItem {
        border-right: 1px solid rgba(0, 0, 0, .06);
      }

      .trackerMetaItem:last-child {
        border-right: none;
      }
      
      .trackerMetaTitle {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .trackerQuery {
      border-top: 1px solid rgba(0, 0, 0, .06);
    }
  }
}
