@import 'font';

html, body {
  margin: 0;
  padding: 0;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.container {
  padding: 10px;
  box-sizing: border-box;
  clear: both;
}

.halfColumn {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.top-menu {
  header {
    background: #FFFFFF;
  }
  .no-menu-container {
    margin: 0 auto;
  }
  .logo {
    height: 44px;
    margin-top: 6px;
  }
}

// Import individual app SCSS
@import 'popupApp', 'reportApp';
