$page-width: 1000px;
$mh-blue: #183063;
$mh-yellow: #ffc72a;

@import 'font';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.custom-container {
  padding: 10px;
  box-sizing: border-box;
  clear: both;
}

.halfColumn {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.top-menu {
  header {
    background: #FFFFFF;
  }
  .no-menu-container {
    margin: 0 auto;
  }
  .logo {
    height: 44px;
    margin-top: 6px;
  }
}

// For internal Popup app navigation. Better for accessibility.
.internal-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

// Import individual app SCSS
@import 'popupApp', 'reportApp', 'optionsApp';
